* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  /* background-image: linear-gradient(120deg, #6888e2 0%, #7843f3 100%); */
  /* color: rgb(36, 24, 24); */
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  padding-top: 50px;
  font-size: 2rem;
}
